.navbar {
    background: #4646a5;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 95vw;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .navbar-logo-png {
    height: 4.5rem;
    margin-left: 20px;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5vw;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-right: 2rem;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }

  .fa-user {
    color: #fff;
    display:flex;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }

  .navbar-container {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 960px) {
    .navbar {
      position: relative;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 60vh;
      position: absolute;
      visibility: collapse;
      /* transition: all 0.5s ease; */
    }
  
    .nav-menu.active {
      background: #4646a5;
      top: 80px;
      left: 0;
      opacity: 1;
      z-index: 1;
      visibility: visible;
      /* transition: all 0.5s ease; */
    }

    .navbar-logo {
      position: absolute;
      left: 0;
      z-index: 2;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate( -100%, 60%);
      font-size: 2rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
    
    .fa-user {
      display: block;
      position: absolute;
      font-size: 2rem;
      top: 1.5rem;
      right: 6rem;
    }
  }