.home_hero-section {
    color: #ffff;
    padding-top: 4em;
    padding-bottom: 4em;
}

.home_hero-row {
    align-items: center;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}


.column {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
/*    margin-left: 3em; */
/*    margin-right: 3em; */
}

.button {
    justify-content: center;
}

.home_hero-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
}

.dark {
    color: #1c2237;
}

.darkBg {
    background-color: #4646a5;
}

.home_hero-subtitle {
    max-width: 440px;
    margin-bottom: 1.5em;
    font-size: 18px;
    line-height: 24px;
}

.home_hero-img_wrapper {
    max-width: 555px;
}



/* Media queries
----------------------------- */
/* Større mobiler */
@media screen and (min-width: 370px) {

}

/* Tab */
@media screen and (min-width: 720px) {

}

/* Medium skjerm, 1080p */
@media screen and (min-width: 1920px) {

}



/* Stor skjerm, 1440p */
@media screen and (min-width: 2560px) {

}