.home_hero-section {
    color: #ffff;
    padding: 5em 0;
}

.home_hero-row {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}


.column {
    margin-bottom: 1em;
    flex: 1;
    padding-left: 2em; 
    padding-right: 2em;
}

.button {
    justify-content: center;
    text-decoration: none;
}

.home_hero-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 2em;
}

.heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
}

.dark {
    color: #1c2237;
}

.darkBg {
    background-color: #4646a5;
}

.home_hero-subtitle {
    max-width: 440px;
    margin-bottom: 1.5em;
    font-size: 18px;
    line-height: 24px;
}

.home_hero-img-wrapper {
    max-width: 555px;
}

.home_hero-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}



/* Media queries
----------------------------- */
