
.course-list {
}

.boxlink {
    color: #90a546;
    width: auto;
    
 }

.course-section {
    background-color: rgb(247, 244, 244);    
    margin-bottom: 1em;
    
}


.undervisningsspråk {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}

.course-sectionTop {
    border-bottom: solid rgb(221, 220, 220) 1px;

}
.kursnavn {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #4646a5;
}

.kursinfo{
    display: grid;
    grid-template-columns: auto 3.5em 2em;
}

.kursinfo p {
    margin-top: 0.2em;
    margin-bottom: 0em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    font-weight: 600;
    font-size: 14px;
}

.kursbeskrivelse {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.iconBox {
    display: flex;
    justify-content: flex-start;
}

.language-icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 9.0px;
    right: 2px;
    
     
}

.language-icon2 {
    position: relative;
    /* Adjust these values accordingly */
    top: 7.5px;
    right: 2px;
}

.beskrivelse {
    width: 35em;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.course-list {
    display: grid;
    flex-wrap: wrap;
}
/* Media queries
----------------------------- */
/* Større mobiler */
@media screen and (min-width: 370px) {

}

/* Tab */
@media screen and (min-width: 720px) {
    .course-list {
        grid-template-columns: 30em 30em;
                 margin: 0em 0em 0em 5em;
    }

    .course-section {
        background-color: rgb(247, 244, 244);
        max-width: 29em;
        margin-bottom: 1em;
        border-radius: 3px; 
    }

    
  
}

/* Laptop / Liten skjerm,, 720p */
@media only screen and (min-width: 1280px) {
    .boxlink {
        margin: 0em 0em 0em 5em; 
        width: 20em;
     }
    
    
    .course-section:hover {
        background-color: #0000d81a;
        transition-timing-function: ease;
        transition: 0.4s;
        cursor: pointer;
        opacity: 1;
    }
}

/* Medium skjerm, 1080p */
@media screen and (min-width: 1920px) {
    

}

/* Stor skjerm, 1440p */
@media screen and (min-width: 2560px) {
}