

 .link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

.course-section {
    background-color: rgb(247, 244, 244);    
    margin-bottom: 1em;

}

.course-detail {

    

}

.box-detail {
}

.BorderBox {
    border-bottom:1px solid rgb(226, 226, 226);
}

.tabKurs {


}

.tabKursmodul {
    
}
.undervisningsspråk {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}

.course-sectionTop {
    border-bottom: solid rgb(221, 220, 220) 1px;

}
.kursnavn {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #4646a5;
}

.kursinfo{
    display: grid;
    grid-template-columns: auto 3.5em 2em;
}

.kursinfo p {
    margin-top: 0.2em;
    margin-bottom: 0em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    font-weight: 600;
    font-size: 14px;
}


.kursbeskrivelse {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}



.course-list {
    display: grid;
}

/* Course Detail page */

.kursinfo-tekst p {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    font-weight: 600;
    font-size: 14px;
}
.kursinfo-tekst {
    display: flex;
    justify-content:space-between;

}

.courseHeader {
    border-bottom: 1px solid rgb(163, 163, 163);
}



.courseButton {
    width: 100%;
}


.courseBody  {
    margin-bottom: 1em;
}


/* Misc */

.iconBox {
    display: flex;
    justify-content: flex-start;
}

.language-icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 9.0px;
    right: 2px;
    
     
}

.language-icon2 {
    position: relative;
    /* Adjust these values accordingly */
    top: 7.5px;
    right: 2px;
}

.beskrivelse {
    width: 35em;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

/* Media queries
----------------------------- */
/* Større mobiler */
@media screen and (min-width: 370px) {

}

/* Tab */
@media screen and (min-width: 720px) {

    .courseBody h3 {
        margin: 0;
    }

    .content-overview {
        display: flex;        
        padding-left: 2em;
        padding-right: 2em;
        margin: 0 auto;
    }
    .course-list {
        margin-top: 1em;
        grid-template-columns: auto auto ;
        
    }
   

    .course-section {
        background-color: rgb(247, 244, 244);
        max-width: 29em;
        margin-bottom: 1em;
        margin-right: 1em;
        border-radius: 3px; 
    }

    .box-detail {
        max-width: 40em;
    }

    .courseBody {
        background-color: white;
        border: 0.5px solid rgb(206, 206, 206);
        margin-top: 1em;
        border-radius: 3px;
        padding: 1em;
    }
    .courseButton {
        width: auto;
        background-color: rgb(234, 240, 255);
        border: 2px solid #3bafa2;
        border-radius: 3px;
        color: #3bafa2;
        padding: 1em;
        font-size: 16px;
        font-weight: 500;
        transition: 0.3s;
    }

    .course-detail {
        margin-top: 1em;
        max-width: 80em;
        padding-left: 2em;
        padding-right: 2em;
        margin: 0 auto;
        
    }

    .tab {
        padding-left: 2em;
        padding-right: 2em;
        margin: 0 auto;
    }
    
  
}

/* Laptop / Liten skjerm,, 720p */
@media only screen and (min-width: 1280px) {
    
    .course-section:hover {
        background-color: #0000d81a;
        transition-timing-function: ease;
        transition: 0.4s;
        cursor: pointer;
        opacity: 1;
    }

    .tab {
        width: 70em;
        padding-left: 2em;
        padding-right: 2em;
        margin: 0 auto;
    }

    
    .content-overview {
        justify-content: unset;
        width: 70em;
        padding-left: 2em;
        padding-right: 2em;
        margin: 0 auto;
    }
    
    
   
    
}

/* Medium skjerm, 1080p */
@media screen and (min-width: 1920px) {
    

}

/* Stor skjerm, 1440p */
@media screen and (min-width: 2560px) {
}