#main_cv {
    min-width: 100%;
    margin-left: auto; margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 0.5em; padding-bottom: 0.5em;
}


#main_cv h1 {
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
}

.cv_profile {
    margin-left: auto; margin-right: auto;
}

.cv_profile_element {
    margin-left: auto; margin-right: auto;
}

.cv_elements {
    margin-left: auto; margin-right: auto;
}

.cv_section {
    display: flex;
    background-color: rgb(247, 244, 244);
    }

#cv_input {
    width:auto;
}
#cv_date_input {
    display: flex;
    max-width: 20em;
}

#cv_courses form {
    display: inline;
}

.cv_form {
    display: flex
}

.box_cv {
    border: solid 1px black;
}

.cv_returned p {
    max-width: 30ch;
  }

.cv_returned_innlegg {
    font-size:1em;
}

.cv_returned_datoFra {
    font-size:1em;
    margin-left: auto;
}

.cv_returned_datoTil {
    font-size:1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#gridbox {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#innleggButton {
    display: block;
    margin-left: auto;
    margin-right: auto;

}