.navbar {
    background: #4646a5;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    position: relative;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 80px;
    width: 95vw;
    font-size: 1.5rem;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .navbar-logo-png {
    height: 4.5rem;
    margin-left: 2vw;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 5vw;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-right: 2rem;
  }
  
  .fa-bars {
    color: #fff;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .fa-user {
    color: #fff;
    display:flex;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    right: 3.25rem;
    top: 1.5rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    position: absolute;
    visibility: collapse;
    /* transition: all 0.5s ease; */
  }

  .nav-menu.active {
    background: #4646a5;
    top: 80px;
    left: 0;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    /* transition: all 0.5s ease; */
  }

  .navbar-logo {
    position: absolute;
    left: 0;
    z-index: 2;
    margin-left: 0px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate( -100%, 60%);
    font-size: 2rem;
    cursor: pointer;
  }

/* Notifications */

#notif-bell {
  color: #fff;
  display:flex;
  align-items: center;
  position: absolute;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  right: 7rem;
  top: 1.25rem;
}

.notif_section {
  display: grid;
  border: 1px solid #60606060;
  border-radius: 0.25em;
  margin-top: 0.5em; margin-bottom: 0.5em;
  padding-left: 0.8em; padding-right: 0.8em; padding-bottom: 0.5em; 
  box-shadow: 0.05em 0.05em 0.1em #57575760;
}

.notif_section_sender, .notif_section_dato {
  display: flex;
}

.notif_p_tekst {
  margin-left: 0.25em;
}

.notif_section_sender p, .notif_section_dato p {
  margin: 0;
  margin-left: 0.3em;
}


  /* Media queries
----------------------------- */
/* Større mobiler */
@media screen and (min-width: 375px) {
}


@media screen and (min-width: 450px) {
  /* Kunngjøringer */
  .notif_section {
    grid-column-gap: 2em;
  }
  .notif_p_tekst {
    margin-left: 0.25em;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .notif_section_sender {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .notif_section_dato {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}


/* Tab */
@media screen and (min-width: 768px) {
}

/* Laptop / Liten skjerm,, 720p */
@media only screen and (min-width: 1280px) {
  .navbar {
    position: sticky;
  }
  
  .nav-menu {
    display: grid;
    visibility: visible;
    height: auto;
  }
  
  .menu-icon {
    display: none;
  }

  .fa-user, #notif-bell {
    padding: 0rem 1.5rem;
    transform: translate(-7vw);
  }
}

/* Medium skjerm, 1080p */
@media screen and (min-width: 1920px) {

}

/* Stor skjerm, 1440p */
@media screen and (min-width: 2560px) {
}